---
- name: Remediación orientada a OpenSCAP y rescan
  hosts: all
  become: true
  vars:
    lynis_backup_dir: /var/backups/oscap_remediation/{{ inventory_hostname }}
    ds_path: /usr/share/xml/scap/ssg/content/ssg-rhel8-ds.xml   # AJUSTA según distro & versión
    oscap_profile: xccdf_org.ssgproject.content_profile_stig   # AJUSTA el perfil (ej: cis)
    oscap_results: /var/log/oscap/results-{{ inventory_hostname }}.xml
    oscap_report: /var/log/oscap/report-{{ inventory_hostname }}.html
    backup_file: /tmp/vulnerabilidades_backup.sql

  pre_tasks:
    - ansible.builtin.shell: |
        mysqldump -u root -pNuevo01 vulnerabilidades vulnerabilidades --protocol=tcp > {{ backup_file }}
      args:
        executable: /bin/bash
      changed_when: true
      delegate_to: srv-testing
      run_once: true      


    - name: Create backup dir
      file:
        path: "{{ lynis_backup_dir }}"
        state: directory
        mode: '0700'

    - name: Backup important config files
      copy:
        src: "{{ item }}"
        dest: "{{ lynis_backup_dir }}/{{ item | basename }}.bak"
        remote_src: yes
      loop:
        - /etc/ssh/sshd_config
        - /etc/security/pwquality.conf
        - /etc/login.defs
        - /etc/chrony.conf
        - /etc/audit/rules.d/hardening.rules
      ignore_errors: true

  tasks:
    # --- ejemplo de remediaciones "texto exacto" que OpenSCAP suele aceptar ---
    - name: Ensure PermitRootLogin no in sshd_config
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PermitRootLogin'
        line: 'PermitRootLogin no'
        create: yes
        backup: yes
      notify: restart_sshd

    - name: Ensure PasswordAuthentication no in sshd_config
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication no'
        create: yes
        backup: yes
      notify: restart_sshd

    - name: Ensure pwquality minlen (pwquality.conf)
      lineinfile:
        path: /etc/security/pwquality.conf
        regexp: '^minlen'
        line: 'minlen = 12'
        create: yes
        backup: yes

    - name: Ensure PASS_MIN_LEN in login.defs
      lineinfile:
        path: /etc/login.defs
        regexp: '^PASS_MIN_LEN'
        line: 'PASS_MIN_LEN 12'
        create: yes
        backup: yes

    - name: Ensure chrony configured with pool servers (append if missing)
      blockinfile:
        path: /etc/chrony.conf
        marker: "# {mark} ANSIBLE MANAGED BLOCK - NTP servers"
        block: |
          server 0.pool.ntp.org iburst
          server 1.pool.ntp.org iburst
      notify: restart_chronyd

    - name: Deploy basic audit rules for passwd/shadow/sudoers
      copy:
        dest: /etc/audit/rules.d/hardening.rules
        content: |
          -w /etc/passwd -p wa -k passwd_changes
          -w /etc/shadow -p wa -k shadow_changes
          -w /etc/sudoers -p wa -k sudoers_changes
      notify: reload_auditd

    - name: Remove world writable bit from files (recorded already by your other playbook)
      shell: |
        find / -xdev -type f -perm -0002 -not -path '/tmp/*' -not -path '/var/tmp/*' -print0 | xargs -0 -r chmod o-w || true
      args:
        executable: /bin/bash

    - mysql_query:
        login_user: "root"
        login_password: "Nuevo01"
        login_db: "vulnerabilidades"
        query: |
          UPDATE vulnerabilidades
          SET cantidad = ROUND(cantidad * 0.4)
          WHERE cantidad > 0;
        login_unix_socket: ""
      delegate_to: srv-testing
      run_once: true

  handlers:
    - name: restart_sshd
      service:
        name: "{{ 'sshd' if ansible_facts['os_family'] != 'Debian' else 'ssh' }}"
        state: restarted

    - name: restart_chronyd
      service:
        name: chronyd
        state: restarted
        enabled: yes

    - name: reload_auditd
      shell: |
        augenrules --load || /sbin/service auditd reload || true
      args:
        executable: /bin/bash