<html>
  <body style="font-family: Arial, sans-serif; color: #2c3e50; background-color: #f9f9f9; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
      {% if 'Se ha recolectado la ganancia diaria.' in resultado.stdout %}
      <h2 style="color: #27ae60;">✅ Recolección Exitosa</h2>
      <p>¡Hola!</p>
      <p>Me complace informarte que la <strong>recolección de dinero</strong> se ha ejecutado correctamente.</p>
      
      <div style="background-color: #ecf9ec; padding: 15px; border-left: 5px solid #27ae60; border-radius: 4px; margin: 20px 0;">
        <pre style="margin: 0; white-space: pre-wrap; word-wrap: break-word; font-family: Consolas, monospace; color: #2c3e50;">
        ✅ {{ resultado.stdout }}
        </pre>
      </div>
      {% elif '' in resultado.stdout %}
      <h2 style="color: #f5dd27;">❌ Recolección no exitosa</h2>
      <p>¡Hola!</p>
      <p>La automatización se ha ejecutado correctamente con algunas novedades ⚠️:</p>
      
      <div style="background-color: #ecf9ec; padding: 15px; border-left: 5px solid #f5dd27; border-radius: 4px; margin: 20px 0;">
        <pre style="margin: 0; white-space: pre-wrap; word-wrap: break-word; font-family: Consolas, monospace; color: #2c3e50;">
        ❌ {{ resultado.stdout }}
        </pre>
      </div>
      {% else %}
      <h2 style="color: #f5273c;">🚨 La automatización ha fallado!</h2>
      <p>¡Hola!</p>
      <p>La automatización no se ejecuto correctamente por lo siguiente:</p>
      
      <div style="background-color: #ecf9ec; padding: 15px; border-left: 5px solid #f5273c; border-radius: 4px; margin: 20px 0;">
        <pre style="margin: 0; white-space: pre-wrap; word-wrap: break-word; font-family: Consolas, monospace; color: #2c3e50;">
        ❌ {{ resultado.stdout }}
        </pre>
      </div>
     {% endif %}

      <p>Saludos cordiales,</p>
      <p><strong>Ansible Automation</strong></p>
    </div>
  </body>
</html>
