---
name: Test
on:
  push:
    branches: testing
    paths: 
      - './contenedores/**'

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: ls -ltr
...
