---
name: Test
on:
  push:
    branches: 
      - 'testing'
    paths: 
      - 'contenedores/**'

defaults:
  run:
    shell: bash
    working-directory: contenedores/ee

jobs:
  build:
    runs-on: ubuntu-latest
    environment: hub
      
    steps:
      - name: Clona repo
        uses: actions/checkout@v6

      - name: log a redhat
        uses: docker/login-action@v3
        with:
          registry: registry.redhat.io 
          username: ${{ vars.REDHAT_USUARIO }}
          password: ${{ secrets.REDHAT_PASS }}

      - name: log al hub
        uses: docker/login-action@v3
        with:
          registry: 23ba-181-133-72-18.ngrok-free.app 
          username: ${{ vars.HUB_USUARIO }}
          password: ${{ secrets.HUB_PASS }}

      - name: Configurar buildx
        uses: docker/setup-buildx-action@v3

      - name: build ee
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:contenedores/ee/context"
          push: false
          load: true
          tags: 23ba-181-133-72-18.ngrok-free.app/yagami/ee-testing:v1 
          file: Containerfile

      - name: push ee
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:contenedores/ee/context"
          file: Containerfile
          push: true
          tags: 23ba-181-133-72-18.ngrok-free.app/yagami/ee-testing:v1 
...
