---
name: Test
on:
  push:
    branches: 
      - 'testing'
    paths: 
      - 'contenedores/**'

defaults:
  run:
    shell: bash
    working-directory: contenedores/ee

jobs:
  build:
    runs-on: ubuntu-latest
    environment: hub
      
    steps:
      - name: Clona repo
        uses: actions/checkout@v6

      - name: log al hub
        uses: docker/login-action@v3
        with:
          registry: 23ba-181-133-72-18.ngrok-free.app 
          username: ${{ vars.HUB_USUARIO }}
          password: ${{ secrets.HUB_PASS }}

      - run: echo {{defaultContext}}

      - name: build ee
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:contenedores/ee"
          push: true
          tags: yagami/ee-testing:v1 
          file: context/Containerfile
...
