---
name: Test
on:
  push:
    branches: 
      - 'testing'
    paths: 
      - 'contenedores/**'

defaults:
  run:
    shell: bash
    working-directory: contenedores

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: ls -ltr 
      - run: whereis pip || whereis pip3
...
