---
name: Test
on:
  push:
    branches: 
      - 'testing'
    paths: 
      - 'contenedores/**'

defaults:
  run:
    shell: bash
    working-directory: contenedores

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clona repo
        uses: actions/checkout@v6

      - name: log al hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.HUB_USUARIO }}
          password: ${{ secrets.HUB_PASS }}
          registry: 23ba-181-133-72-18.ngrok-free.app 
...
